<nav>
  <div class="nav-wrapper blue">
    <a routerLink="/home" class="brand-logo">Inicio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="parametros/listar">Estudiante</a></li>
      <li><a routerLink="parametros/listar-apoyo">Apoyos Socioeconomico</a></li>
      <li><a routerLink="parametros/listar-convacatoria">Convocatorias</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="sass">Sass</a></li>
  <li><a routerLink="apollossocioeconomico">Components</a></li>
  <li><a routerLink="collapsible">Javascript</a></li>
  <li><a routerLink="mobile">Mobile</a></li>
</ul>
