<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1 style="text-align: center;">Lista de Estudiantes</h1>
<a routerLink="/parametros/crear" class="btn btn-succes">Agregar Registro</a>

<div class="table-wrapper">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Codigo Estudiante</th>
                <th>Nombre del Estudiante</th>
                <th>Género</th>
                <th>Edad</th>
                <th>Estado</th>
                <th>Numero de Identificación</th>
                <th>PBM</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Estrato</th>
                <th>Promedio de Notas</th>
                <th>Puntade de Apoyo</th>
                <th>Ultimo Semestre Cursado</th>
                <th>Hijos</th>
                <th>Id Municpio Nacimiento</th>
                <th>Id Municpio Vivienda</th>
                <th>Id Contacto</th>
                <th>Id Programa Acedemico</th>
                <th>Retiros Bajo Rendimiento</th>
                <th>Sanciones Disiplinarias</th>
                <th>Semestre Bajo Rendimiento </th>
                <th>Semestre Sancion</th>
                <th>Aspirante Especial</th>
                <th>Tipo de Aspirante</th>
                <th>Autor</th> 
                <th>Acciones</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: totalAmount }">
                <td>{{ item.Codigo_Estudiante }}</td>
                <td>{{ item.Nombre }}</td>
                <td>{{ item.Genero }}</td>
                <td>{{ item.Edad }}</td>
                <td>{{ item.Estado }}</td>
                <td>{{ item.Numero_De_Identificacion }}</td>
                <td>{{ item.PBM }}</td>
                <td>{{ item.Correo }}</td>
                <td>{{ item.Celular }}</td>
                <td>{{ item.Estrato }}</td>
                <td>{{ item.Promedio_Notas }}</td>
                <td>{{ item.Puntaje_De_Apoyos }}</td>
                <td>{{ item.Ultimo_Semestre_Cursado }}</td>
                <td>{{ item.Hijos }}</td>
                <td>{{ item.Id_Municipio_Nacimiento }}</td>
                <td>{{ item.Id_Municipio_Vivienda }}</td>
                <td>{{ item.Id_Contacto }}</td>
                <td>{{ item.Id_Programa_Academico }}</td>
                <td>{{ item.Retiros_Bajo_Rendimiento }}</td>
                <td>{{ item.Sanciones_Disciplinarias }}</td>
                <td>{{ item.Semestre_Bajo_Rendimiento }}</td>
                <td>{{ item.Semetre_Sancion }}</td>
                <td>{{ item.Aspirante_Especial }}</td>
                <td>{{ item.Tipo_De_Aspirante }}</td>
                <td>{{ item.Autor }}</td>
                <td>
                    <a href="detalle-apoyo.html?apoyoId=456" class="btn">Eliminar</a>
                    <a href="formulario-apoyo.html?apoyoId=456" class="btn btn-edit">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<td colspan="7">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</td>
<br>
<div style="text-align: center;">
    <a href="formulario-estudiante.html" class="btn">Agregar Nuevo Estudiante</a>
</div>

</body>
</html>
