body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
}

h1 {
    margin-top: 20px;
    color: #333;
}

.table-wrapper {
    width: 90%;
    overflow-x: auto;
    margin: 25px 0;
}

table.styled-table {
    width: 100%;
    font-size: 1em;
    text-align: left;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.styled-table th,
table.styled-table td {
    padding: 15px 15px; /* Más espacio para el cabecero */
    border: 1px solid #ddd;
}

table.styled-table thead tr {
    background-color: #003366; /* Azul oscuro */
    color: #ffffff;
    text-align: left;
    height: 50px; /* Incrementar la altura del cabecero */
}

table.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #003366;
}

table.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #009879;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #007f65;
}

.btn-edit {
    background-color: #f39c12;
}

.btn-edit:hover {
    background-color: #d27805;
}

.action-bar {
    display: flex;
    align-items: center;
    width: 90%; /* Same width as the table for alignment */
    margin-bottom: 10px; /* Reduced margin between action bar and table */
}

.action-bar .btn {
    margin-right: 10px; /* Add some space between the buttons */
}

.search-section {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Take up remaining space */
}

.search-section input[type="text"] {
    padding: 5px 10px; /* Adjust the padding for the input field */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px; /* Adjust the height */
    flex-grow: 1; /* Allow the input to grow */
    margin-right: 10px; /* Space between input and button */
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination li a.active {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
