body {
    background-color: white;
    color: #0d47a1; /* Dark Blue */
}

h1 {
    color: #0d47a1; /* Dark Blue */
    font-weight: bold;
}

.chart-controls {
    margin: 20px 0;
}

.axis-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.dropdown-trigger.btn {
    margin: 0 10px;
}

.chart-container {
    margin-top: 20px;
}

.btn.dark-blue {
    background-color: #0d47a1 !important; /* Dark Blue */
    color: white !important;
}

.btn.blue {
    background-color: #2196f3 !important; /* Blue */
    color: white !important;
}

.center-align {
    text-align: center;
}
