<div class="form-container">
    <form [formGroup]="dataForm" class="form-content">
      <input type="hidden" formControlName="Codigo_Estudiante" />
      <div class="row">
        <div class="input-field col s4">
          <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
          <label class="active" for="txtNombre">Nombre</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Genero" id="txtGenero" type="text" class="validate">
          <label class="active" for="txtGenero">Género</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Edad" id="txtEdad" type="text" class="validate">
          <label class="active" for="txtEdad">Edad</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Tipo_Identificacion" id="txtTipoIdentificacion" type="text" class="validate">
          <label class="active" for="txtTipoIdentificacion">Tipo de Identificación</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Numero_De_Identificacion" id="txtNumeroDeIdentificacion" type="text" class="validate">
          <label class="active" for="txtNumeroDeIdentificacion">Número de Identificación</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="PBM" id="txtPBM" type="text" class="validate">
          <label class="active" for="txtPBM">PBM</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Correo" id="txtCorreo" type="email" class="validate">
          <label class="active" for="txtCorreo">Correo</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Celular" id="txtCelular" type="text" class="validate">
          <label class="active" for="txtCelular">Celular</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Estrato" id="txtEstrato" type="text" class="validate">
          <label class="active" for="txtEstrato">Estrato</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Promedio_Notas" id="txtPromedioNotas" type="text" class="validate">
          <label class="active" for="txtPromedioNotas">Promedio de Notas</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Puntaje_De_Apoyos" id="txtPuntajeDeApoyos" type="text" class="validate">
          <label class="active" for="txtPuntajeDeApoyos">Puntaje de Apoyos</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Estado" id="txtEstado" type="text" class="validate">
          <label class="active" for="txtEstado">Estado</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Ultimo_Semestre_Cursado" id="txtUltimoSemestreCursado" type="text" class="validate">
          <label class="active" for="txtUltimoSemestreCursado">Último Semestre Cursado</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Hijos" id="txtHijos" type="text" class="validate">
          <label class="active" for="txtHijos">Hijos</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Autor" id="txtAutor" type="text" class="validate">
          <label class="active" for="txtAutor">Autor</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Retiros_Bajo_Rendimiento" id="txtRetirosBajoRendimiento" type="text" class="validate">
          <label class="active" for="txtRetirosBajoRendimiento">Retiros Bajo Rendimiento</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Sanciones_Disciplinarias" id="txtSancionesDisciplinarias" type="text" class="validate">
          <label class="active" for="txtSancionesDisciplinarias">Sanciones Disciplinarias</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Aspirante_Especial" id="txtAspiranteEspecial" type="text" class="validate">
          <label class="active" for="txtAspiranteEspecial">Aspirante Especial</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Semestre_Bajo_Rendimiento" id="txtSemestreBajoRendimiento" type="text" class="validate">
          <label class="active" for="txtSemestreBajoRendimiento">Semestre Bajo Rendimiento</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Semestre_Sancion" id="txtSemestreSancion" type="text" class="validate">
          <label class="active" for="txtSemestreSancion">Semestre Sanción</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Tipo_De_Aspirante" id="txtTipoDeAspirante" type="text" class="validate">
          <label class="active" for="txtTipoDeAspirante">Tipo de Aspirante</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Id_Municipio_Nacimiento" id="txtIdMunicipioNacimiento" type="text" class="validate">
          <label class="active" for="txtIdMunicipioNacimiento">ID Municipio de Nacimiento</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Id_Municipio_Vivienda" id="txtIdMunicipioVivienda" type="text" class="validate">
          <label class="active" for="txtIdMunicipioVivienda">ID Municipio de Vivienda</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Id_Contacto" id="txtIdContacto" type="text" class="validate">
          <label class="active" for="txtIdContacto">ID Contacto</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="Id_Programa_Academico" id="txtIdProgramaAcademico" type="text" class="validate">
          <label class="active" for="txtIdProgramaAcademico">ID Programa Académico</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button  type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
          <a class="btn btn-warning orange" routerLink="/parametros/listar">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
  