<div class="row">
    <form [formGroup]="dataForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
          <label for="txtNombre">Nombre</label>
          <div class="errorValidation">
            <label *ngIf="dataForm.controls['Nombre'].errors && (dataForm.controls['Nombre'].dirty || dataForm.controls['Nombre'].touched)">
                El nombre no cumple con los requisitos
            </label>
          </div>
        </div>
        <div class="input-field col s12">
          <input formControlName="Correo" id="txtCorreo" type="email" class="validate">
          <label for="txtCorreo">Correo</label>
          <div class="errorValidation">
            <label *ngIf="dataForm.controls['Correo'].errors && (dataForm.controls['Correo'].dirty || dataForm.controls['Correo'].touched)">
                El correo no cumple con los requisitos
            </label>
          </div>
        </div>
        <div class="input-field col s12">
          <input formControlName="Celular" id="txtCelular" type="text" class="validate">
          <label for="txtCelular">Celular</label>
          <div class="errorValidation">
            <label *ngIf="dataForm.controls['Celular'].errors && (dataForm.controls['Celular'].dirty || dataForm.controls['Celular'].touched)">
                El celular no cumple con los requisitos
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button [disabled]="dataForm.invalid" type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
          &nbsp;<a class="btn btn-warning organge" routerLink="/parametros/listar-organizacion">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
  