<div class="delete-confirmation row">
    <div class="input-field col s12">
        <div class="confirmation-text">
            <strong>¿Está seguro(a) de eliminar el registro con la siguiente información?</strong>
            <br/>
            <ul>
                <li>id: {{id}}</li>
                <li>Nombre: {{Nombre}}</li>
                <li>Correo: {{Correo}}</li>
                <li>Celular: {{Celular}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 buttons">
            <button type="button" class="btn btn-danger" (click)="RemoveRecord()">Eliminar</button>
            &nbsp;<a class="btn btn-secondary" routerLink="/parametros/listar-organizacion">Cancelar</a>
        </div>
    </div>
</div>
