<div class="row">
    <form [formGroup]="dataForm" class="col s12">
        <input type="hidden" formControlName="id" />
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="Aprobado" id="txtAprobado" type="text" class="validate">
                <label class="active" for="txtAprobado">Aprobado</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Aprobado'].errors && (dataForm.controls['Aprobado'].dirty || dataForm.controls['Aprobado'].touched)">
                        El estado de Aprobado no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Ano" id="txtAno" type="text" class="validate">
                <label class="active" for="txtAno">Año</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Ano'].errors && (dataForm.controls['Ano'].dirty || dataForm.controls['Ano'].touched)">
                        El Año no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Semestre" id="txtSemestre" type="text" class="validate">
                <label class="active" for="txtSemestre">Semestre</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Semestre'].errors && (dataForm.controls['Semestre'].dirty || dataForm.controls['Semestre'].touched)">
                        El Semestre no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Id_Convocatoria" id="txtIdConvocatoria" type="text" class="validate">
                <label class="active" for="txtIdConvocatoria">ID de Convocatoria</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Id_Convocatoria'].errors && (dataForm.controls['Id_Convocatoria'].dirty || dataForm.controls['Id_Convocatoria'].touched)">
                        El ID de Convocatoria no cumple con los requisitos
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button [disabled]="dataForm.invalid" type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
                &nbsp;<a class="btn btn-warning orange" routerLink="/parametros/listar-proceso-convocatoria">Cancelar</a>
            </div>
        </div>
    </form>
</div>
