<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
</head>
<body>
    <div class="row">
        <form [formGroup]="dataForm" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="Ano" id="txtAno" type="number" class="validate">
                    <label class="active" for="txtAno">Año</label>
                    
                </div>
                <div class="input-field col s6">
                    <input formControlName="Semestre" id="txtSemestre" type="text" class="validate">
                    <label class="active" for="txtSemestre">Semestre</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="Total_Estudiantes_Presentados" id="txtTotalEstudiantesPresentados" type="number" class="validate">
                    <label class="active" for="txtTotalEstudiantesPresentados">Total Estudiantes Presentados</label>
                    
                </div>
                <div class="input-field col s6">
                    <input formControlName="Autor" id="txtAutor" type="text" class="validate">
                    <label class="active" for="txtAutor">Autor</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="Fecha_Inicio" id="txtFechaInicio" type="date" class="validate">
                    <label class="active" for="txtFechaInicio">Fecha Inicio</label>
                    
                </div>
                <div class="input-field col s6">
                    <input formControlName="Fecha_Fin" id="txtFechaFin" type="date" class="validate">
                    <label class="active" for="txtFechaFin">Fecha Fin</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="Id_Apoyo_Socio_Economico" id="txtIdApoyoSocioEconomico" type="number" class="validate">
                    <label class="active" for="txtIdApoyoSocioEconomico">ID Apoyo Socio Económico</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 button-container">
                    <button  type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
                    <a class="btn btn-warning orange" routerLink="/parametros/listar-convacatoria">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
