<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Convocatorias</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Convocatorias</h1>
<div class="action-bar">
    <a routerLink="/parametros/crear-convacatoria" class="btn btn-success">Agregar Registro</a>
    <a class='dropdown-trigger column-filter btn btn-success blue' href='#' data-target='dropdown-column-filter'>Seleccionar Filtro</a>

    <!-- Dropdown Structure with unique identifier -->
    <ul id='dropdown-column-filter' class='dropdown-content'>
        <li *ngFor="let column of columns"><a href="#!" (click)="onColumnChanged($event, column)">{{ column }}</a></li>
    </ul>

    <section class="search-section">
        <input type="text" [(ngModel)]="searchText" name="searchText" class="form-control" placeholder="Buscar" (ngModelChange)="onSearchTextChanged()">
    </section>
</div>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Año</th>
            <th>Semestre</th>
            <th>Cantidad Total de Estudiantes Presentados</th>
            <th>Autor</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>ID de Apoyo Socio Economico</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredRecordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Ano }}</td>
            <td>{{ item.Semestre }}</td>
            <td>{{ item.Total_Estudiantes_Presentados }}</td>
            <td>{{ item.Autor }}</td>
            <td>{{ item.Fecha_Inicio }}</td>
            <td>{{ item.Fecha_Fin }}</td>
            <td>{{ item.Id_Apoyo_Socio_Economico }}</td>
            <td>
                <a routerLink="/parametros/editar-convacatoria/{{item.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/remover-convacatoria/{{item.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
<td colspan="7">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</td>

<br>

</body>
</html>
