<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Convocatorias</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Convocatorias</h1>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
           <!-- <th>Año</th>
            <th>Semestre</th>
            <th>Cantidad de Estudiantes</th>
            <th>Autor</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>ID de Apoyo</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let convocatoria of recordList">
            <td>{{ convocatoria.id }}</td>
            <!--<td>{{ convocatoria.ano }}</td>
            <td>{{ convocatoria.semestre }}</td>
            <td>{{ convocatoria.cantidadestudiantes }}</td>
            <td>{{ convocatoria.autor }}</td>
            <td>{{ convocatoria.inicio }}</td>
            <td>{{ convocatoria.fin }}</td>
            <td>{{ convocatoria.apoyoId }}</td>-->
        </tr>
    </tbody>
</table>


<br>
<!--<a href="formulario-convocatoria.html" class="btn">Agregar Nueva Convocatoria</a>-->

</body>
</html>
