<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Apoyos</title>
    <link rel="stylesheet" href="">
</head>
<body>
    
    <h1>Lista de Apoyos</h1>
    <a routerLink="/parametros/crear-apoyo" class="btn btn-succes">Agregar Registro</a>
    <table class="styled-table responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Interno</th>
                <th>Organización ID</th>
                <th>Acciones</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalAmount }">
                <td>{{ item.id }}</td>
                <td>{{ item.Nombre }}</td>
                <td>{{ item.Interno }}</td>
                <td>{{ item.Id_Organizacion }}</td>
                <td>
                    <a href="detalle-apoyo.html?apoyoId=456" class="btn">Ver Detalles</a>
                    <a href="formulario-apoyo.html?apoyoId=456" class="btn btn-edit">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <td colspan="7">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" 
        nextLabel="Siguiente"></pagination-controls>
    </td>


</body>
</html>
