<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Apoyos</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Apoyos</h1>
<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Interno</th>
            <th>Organización ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList">
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.interno }}</td>
            <td>{{ item.organizacionId }}</td>
            <td>
                <a href="detalle-apoyo.html?apoyoId=456" class="btn">Ver Detalles</a>
                <a href="formulario-apoyo.html?apoyoId=456" class="btn btn-edit">Editar</a>
            </td>
        </tr>
    </tbody>
</table>


<br>
<a href="formulario-apoyo.html" class="btn">Agregar Nuevo Apoyo</a>

</body>
</html>
