<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Facultades</title>
    <link rel="stylesheet">
</head>
<body>

<h1>Lista de Facultades</h1>

<a routerLink="/parametros/crear-facultad" class="btn btn-succes">Agregar Registro</a>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Nombre }}</td>
            <td>
                <a href="detalle-apoyo.html?apoyoId=456" class="btn">Eliminar</a>
                &nbsp;<a href="formulario-apoyo.html?apoyoId=456" class="btn btn-edit">Editar</a>
            </td>
            </tr>
    </tbody>
    </table>
        <!--<td colspan="7"> pagination is the reason why it doesnt come up
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
        </td> -->
<br>

</body>
</html>
