<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Facultades</title>
    <link rel="stylesheet">
</head>
<body>

<h1>Lista de Facultades</h1>

<a routerLink="/parametros/crear-facultad" class="btn btn-succes">Agregar Registro</a>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Nombre }}</td>
            <td>
                <a routerLink="/parametros/editar-facultad/{{item.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/remover-facultad/{{item.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
            </tr>
    </tbody>
    </table>
    <td colspan="7">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </td>
<br>

</body>
</html>
