<div class="form-container">
    <form [formGroup]="dataForm" class="form-content">
      <input type="hidden" formControlName="id" />
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
          <label class="active" for="txtNombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="Parentesco" id="txtParentesco" type="text" class="validate">
          <label class="active" for="txtParentesco">Parentesco</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="Celular" id="txtCelular" type="text" class="validate">
          <label class="active" for="txtCelular">Celular</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="Procedencia" id="txtProcedencia" type="text" class="validate">
          <label class="active" for="txtProcedencia">Procedencia</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="Correo" id="txtCorreo" type="email" class="validate">
          <label class="active" for="txtCorreo">Correo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
          <a class="btn btn-warning" routerLink="/parametros/listar-contacto">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
  