<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Municipios</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Municipios</h1>
<a routerLink="/parametros/crear-municipio" class="btn btn-succes">Agregar Registro</a>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Nombre }}</td>
            <td>
                <a href="/parametros/editar-municipio/{{item.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a href="/parametros/remover-municipio/{{item.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
<td colspan="7">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</td>
<br>
</body>
</html>
