<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
</head>
<body>
    <div class="row">
        <form class="col s12">
            <h2>Registro de Apoyo Socioeconómico</h2>
            <div class="row">
                <div class="input-field col s6">
                    <input id="txtSemestre" type="number" class="validate" required>
                    <label for="txtSemestre">Semestre</label>
                </div>
                <div class="input-field col s6">
                    <input id="txtAno" type="number" min="1900" max="2100" class="validate" required placeholder="YYYY">
                    <label for="txtAno">Año</label>
                    <div class="errorValidation"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="txtEstudiantesAprobados" type="number" class="validate" required>
                    <label for="txtEstudiantesAprobados">Estudiantes Aprobados</label>
                </div>
                <div class="input-field col s6">
                    <input id="txtSedeApoyo" type="text" class="validate" required>
                    <label for="txtSedeApoyo">Sede Apoyo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="txtAutor" type="text" class="validate" required>
                    <label for="txtAutor">Autor</label>
                </div>
                <div class="input-field col s6">
                    <input id="txtIdApoyo" type="number" class="validate" required>
                    <label for="txtIdApoyo">ID Apoyo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button type="button" class="btn btn-success" (click)="SaveRecord()">GUARDAR</button>
                    <a class="btn btn-warning" routerLink="/parametros/listar-apoyo-socioeconomico">CANCELAR</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
