<div class="form-container">
  <form [formGroup]="dataForm" class="form-content">
    <div class="row">
      <div class="input-field col s4">
        <input formControlName="Codigo_Estudiante" id="txtCodigoEstudiante" type="text" class="validate">
        <label for="txtCodigoEstudiante">Código Estudiante</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
        <label for="txtNombre">Nombre</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Genero" id="txtGenero" type="text" class="validate">
        <label for="txtGenero">Género</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Edad" id="txtEdad" type="number" class="validate">
        <label for="txtEdad">Edad</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Tipo_Identificacion" id="txtTipoIdentificacion" type="text" class="validate">
        <label for="txtTipoIdentificacion">Tipo de Identificación</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Numero_De_Identificacion" id="txtNumeroDeIdentificacion" type="text" class="validate">
        <label for="txtNumeroDeIdentificacion">Número de Identificación</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="PBM" id="txtPBM" type="number" class="validate">
        <label for="txtPBM">PBM</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Correo" id="txtCorreo" type="email" class="validate">
        <label for="txtCorreo">Correo</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Celular" id="txtCelular" type="text" class="validate">
        <label for="txtCelular">Celular</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Estrato" id="txtEstrato" type="number" class="validate">
        <label for="txtEstrato">Estrato</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Promedio_Notas" id="txtPromedioNotas" type="number" class="validate">
        <label for="txtPromedioNotas">Promedio Notas</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Puntaje_De_Apoyos" id="txtPuntajeDeApoyos" type="number" class="validate">
        <label for="txtPuntajeDeApoyos">Puntaje De Apoyos</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Estado" id="txtEstado" type="text" class="validate">
        <label for="txtEstado">Estado</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Ultimo_Semestre_Cursado" id="txtUltimoSemestreCursado" type="text" class="validate">
        <label for="txtUltimoSemestreCursado">Último Semestre Cursado</label>
      </div>
      <div class="input-field col s4">
        <p>
          <label>
            <input type="checkbox" formControlName="Hijos" id="txtHijos"/>
            <span>Hijos</span>
          </label>
        </p>
      </div>
      <div class="input-field col s4">
        <input formControlName="Autor" id="txtAutor" type="text" class="validate">
        <label for="txtAutor">Autor</label>
      </div>
      <div class="input-field col s4">
        <p>
          <label>
            <input type="checkbox" formControlName="Retiros_Bajo_Rendimiento" id="txtRetirosBajoRendimiento"/>
            <span>Retiros Bajo Rendimiento</span>
          </label>
        </p>
      </div>
      <div class="input-field col s4">
        <p>
          <label>
            <input type="checkbox" formControlName="Sanciones_Disciplinarias" id="txtSancionesDisciplinarias"/>
            <span>Sanciones Disciplinarias</span>
          </label>
        </p>
      </div>
      <div class="input-field col s4">
        <p>
          <label>
            <input type="checkbox" formControlName="Aspirante_Especial" id="txtAspiranteEspecial"/>
            <span>Aspirante Especial</span>
          </label>
        </p>
      </div>
      <div class="input-field col s4">
        <input formControlName="Semestre_Bajo_Rendimiento" id="txtSemestreBajoRendimiento" type="text" class="validate">
        <label for="txtSemestreBajoRendimiento">Semestre Bajo Rendimiento</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Semestre_Sancion" id="txtSemestreSancion" type="text" class="validate">
        <label for="txtSemestreSancion">Semestre Sanción</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Tipo_De_Aspirante" id="txtTipoDeAspirante" type="text" class="validate">
        <label for="txtTipoDeAspirante">Tipo de Aspirante</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Id_Municipio_Nacimiento" id="txtIdMunicipioNacimiento" type="number" class="validate">
        <label for="txtIdMunicipioNacimiento">ID Municipio Nacimiento</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Id_Municipio_Vivienda" id="txtIdMunicipioVivienda" type="number" class="validate">
        <label for="txtIdMunicipioVivienda">ID Municipio Vivienda</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Id_Contacto" id="txtIdContacto" type="number" class="validate">
        <label for="txtIdContacto">ID Contacto</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="Id_Programa_Academico" id="txtIdProgramaAcademico" type="number" class="validate">
        <label for="txtIdProgramaAcademico">ID Programa Académico</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
        <a class="btn btn-warning" routerLink="/parametros/listar">Cancelar</a>
      </div>
    </div>
  </form>
</div>
