<div class="form-container">
    <form [formGroup]="dataForm" class="form-content">
      <input type="hidden" formControlName="id" />
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
          <label class="active" for="txtNombre">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
          <a class="btn btn-warning" routerLink="/parametros/listar-municipio">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
  