<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Convocatorias</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Organizaciones</h1>
<a routerLink="/parametros/crear-organizacion" class="btn btn-succes">Agregar Registro</a>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList | paginate: { itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Nombre }}</td>
            <td>{{ item.Correo }}</td>
            <td>{{ item.Celular }}</td>
            <td>
                <a href="detalle-apoyo.html?apoyoId=456" class="btn">Eliminar</a>
                <a href="formulario-apoyo.html?apoyoId=456" class="btn btn-edit">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
<td colspan="7">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</td>

<br>
<!--<a href="formulario-convocatoria.html" class="btn">Agregar Nueva Convocatoria</a>-->

</body>
</html>
