<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Convocatorias</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Organizaciones</h1>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recordList">
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.celular }}</td>
        </tr>
    </tbody>
</table>


<br>
<!--<a href="formulario-convocatoria.html" class="btn">Agregar Nueva Convocatoria</a>-->

</body>
</html>
