<div class="row">
    <form [formGroup]="dataForm" class="col s12">
        <input type="hidden" formControlName="id" />
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="Ano" id="txtAno" type="text" class="validate">
                <label class="active" for="txtAno">Año</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Ano'].errors && (dataForm.controls['Ano'].dirty || dataForm.controls['Ano'].touched)">
                        El Año no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Semestre" id="txtSemestre" type="text" class="validate">
                <label class="active" for="txtSemestre">Semestre</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Semestre'].errors && (dataForm.controls['Semestre'].dirty || dataForm.controls['Semestre'].touched)">
                        El Semestre no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Total_Estudiantes_Presentados" id="txtTotalEstudiantesPresentados" type="text" class="validate">
                <label class="active" for="txtTotalEstudiantesPresentados">Total Estudiantes Presentados</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Total_Estudiantes_Presentados'].errors && (dataForm.controls['Total_Estudiantes_Presentados'].dirty || dataForm.controls['Total_Estudiantes_Presentados'].touched)">
                        El Total de Estudiantes Presentados no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Autor" id="txtAutor" type="text" class="validate">
                <label class="active" for="txtAutor">Autor</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Autor'].errors && (dataForm.controls['Autor'].dirty || dataForm.controls['Autor'].touched)">
                        El Autor no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Fecha_Inicio" id="txtFechaInicio" type="date" class="validate">
                <label class="active" for="txtFechaInicio">Fecha de Inicio</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Fecha_Inicio'].errors && (dataForm.controls['Fecha_Inicio'].dirty || dataForm.controls['Fecha_Inicio'].touched)">
                        La Fecha de Inicio no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Fecha_Fin" id="txtFechaFin" type="date" class="validate">
                <label class="active" for="txtFechaFin">Fecha de Fin</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Fecha_Fin'].errors && (dataForm.controls['Fecha_Fin'].dirty || dataForm.controls['Fecha_Fin'].touched)">
                        La Fecha de Fin no cumple con los requisitos
                    </label>
                </div>
            </div>
            <div class="input-field col s12">
                <input formControlName="Id_Apoyo_Socio_Economico" id="txtIdApoyoSocioEconomico" type="text" class="validate">
                <label class="active" for="txtIdApoyoSocioEconomico">ID de Apoyo Socio Económico</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Id_Apoyo_Socio_Economico'].errors && (dataForm.controls['Id_Apoyo_Socio_Economico'].dirty || dataForm.controls['Id_Apoyo_Socio_Economico'].touched)">
                        El ID de Apoyo Socio Económico no cumple con los requisitos
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button [disabled]="dataForm.invalid" type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
                &nbsp;<a class="btn btn-warning orange" routerLink="/parametros/listar-convacatoria">Cancelar</a>
            </div>
        </div>
    </form>
</div>
