<div class="row">
    <form [formGroup]="dataForm" class="col s12">
        <input type="hidden" formControlName="id" />
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="Nombre" id="txtNombre" type="text" class="validate">
                <label class="active" for="txtNombre">Nombre</label>
                <div class="errorValidation">
                    <label *ngIf="dataForm.controls['Nombre'].errors && (dataForm.controls['Nombre'].dirty || dataForm.controls['Nombre'].touched)">
                        El Nombre no cumple con los requisitos
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button [disabled]="dataForm.invalid" type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
                &nbsp;<a class="btn btn-warning orange" routerLink="/parametros/listar-facultad">Cancelar</a>
            </div>
        </div>
    </form>
</div>
