<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proceso Convocatoria</title>
    <link rel="stylesheet" href="">
</head>
<body>

<h1>Lista de Proceso Convocatoria</h1>
<div class="action-bar">
    <a routerLink="/parametros/crear-proceso-convocatoria" class="btn btn-success btn-small">Agregar Registro</a>
    <a class='dropdown-trigger column-filter btn btn-success btn-small blue' href='#' data-target='dropdown-column-filter'>Seleccionar Filtro</a>

    <!-- Dropdown Structure with unique identifier -->
    <ul id='dropdown-column-filter' class='dropdown-content'>
        <li *ngFor="let column of columns"><a href="#!" (click)="onColumnChanged($event, column)">{{ column }}</a></li>
    </ul>

    <section class="search-section">
        <input type="text" [(ngModel)]="searchText" name="searchText" class="form-control" placeholder="Buscar" (ngModelChange)="onSearchTextChanged()">
    </section>
    
    <!-- File upload section -->
    <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" class="file-input">
    <button (click)="onUpload()" class="btn btn-upload">Upload Excel</button>
    <p *ngIf="uploadError" class="error-message">{{ uploadError }}</p>
</div>

<table class="styled-table responsive-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Aprobado</th>
            <th>Año</th>
            <th>Semestre</th>
            <th>Id Convocatoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredRecordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalAmount }">
            <td>{{ item.id }}</td>
            <td>{{ item.Aprobado }}</td>
            <td>{{ item.Ano }}</td>
            <td>{{ item.Semestre }}</td>
            <td>{{ item.Ano }}</td>
            <td>
                <a routerLink="/parametros/editar-proceso-convocatoria/{{item.id}}" class="btn btn-warning btn-small orange">Editar</a>
                &nbsp;<a routerLink="/parametros/remover-proceso-convocatoria/{{item.id}}" class="btn btn-warning btn-small red">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
<td colspan="3">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</td>
<br>
</body>
</html>
