<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Principales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<h1>Datos Principales</h1>
<div class="action-bar">
    <button class="btn btn-refresh" (click)="loadPrincipalData()">Actualizar Datos</button>
    <a class='dropdown-trigger column-filter btn btn-success btn-small blue' href='#' data-target='dropdown-column-filter'>Seleccionar Filtro</a>
    <!-- Estructura del Dropdown con identificador único -->
    <ul id='dropdown-column-filter' class='dropdown-content'>
        <li *ngFor="let column of columns">
            <a href="#!" (click)="onColumnChanged($event, column)" [class.selected]="column === selectedColumn">{{ column }}</a>
        </li>
    </ul>

    <section class="search-section">
        <input type="text" [(ngModel)]="searchText" name="searchText" class="form-control" placeholder="Buscar" (ngModelChange)="onSearchTextChanged()">
        <a class='dropdown-trigger btn btn-small blue' href='#' data-target='dropdown-filter1'>Filtro 1</a>
        <ul id='dropdown-filter1' class='dropdown-content'>
            <li *ngFor="let column of columns">
                <a href="#!" (click)="onFilter1ColumnChanged($event, column)">{{ column }}</a>
            </li>
        </ul>
        <input type="text" [(ngModel)]="filter1Text" name="filter1Text" class="form-control" placeholder="Buscar en Filtro 1" (ngModelChange)="onFilterTextChanged()">
        <a class='dropdown-trigger btn btn-small blue' href='#' data-target='dropdown-filter2'>Filtro 2</a>
        <ul id='dropdown-filter2' class='dropdown-content'>
            <li *ngFor="let column of columns">
                <a href="#!" (click)="onFilter2ColumnChanged($event, column)">{{ column }}</a>
            </li>
        </ul>
        <input type="text" [(ngModel)]="filter2Text" name="filter2Text" class="form-control" placeholder="Buscar en Filtro 2" (ngModelChange)="onFilterTextChanged()">
        <!-- Añadir más filtros según sea necesario -->
    </section>
</div>

<div class="table-wrapper">
    <table class="styled-table responsive-table">
        <thead>
            <tr>
                <th *ngFor="let key of columns">{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredRecordList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalAmount }">
                <td *ngFor="let key of columns">{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<td colspan="3">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</td>
<br>

<div class="chart-controls">
    <label for="x-axis">Valor 1:</label>
    <a class='dropdown-trigger btn' href='#' data-target='dropdown-x-axis'>{{ xLabel }}</a>
    <ul id='dropdown-x-axis' class='dropdown-content'>
        <li *ngFor="let column of columns">
            <a href="#!" (click)="onXAxisChanged($event, column)">{{ column }}</a>
        </li>
    </ul>

    <label for="y-axis">Valor 2:</label>
    <a class='dropdown-trigger btn' href='#' data-target='dropdown-y-axis'>{{ yLabel }}</a>
    <ul id='dropdown-y-axis' class='dropdown-content'>
        <li *ngFor="let column of columns">
            <a href="#!" (click)="onYAxisChanged($event, column)">{{ column }}</a>
        </li>
    </ul>
</div>

<ejs-chart [primaryXAxis]="xAxis" [primaryYAxis]="yAxis" [title]="chartTitle" [legendSettings]="legend">
    <e-series-collection>
        <e-series type="Line" [dataSource]="filteredRecordList" [xName]="selectedXAxis" [yName]="selectedYAxis" name="Data" [marker]="markerSettings"></e-series>
    </e-series-collection>
</ejs-chart>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const dropdownElems = document.querySelectorAll('.dropdown-trigger');
    M.Dropdown.init(dropdownElems, {});
});
</script>
</body>
</html>
